body {
    background-color: #33ff57;
    color: white;
    font-family: "Bai Jamjuree", inria sans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #DAF7A6;
    color: white;
    font-family: "Bai Jamjuree", inria sans;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
